@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* =========================================
       GOOGLE FONTS (LOKAL DSGVO-KONFORM)
       ========================================= */

    /* --- ABeeZee --- */
    @font-face {
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/abeezee-v23-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'ABeeZee';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/abeezee-v23-latin-italic.woff2') format('woff2');
    }

    /* --- Alex Brush --- */
    @font-face {
        font-family: 'Alex Brush';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/alex-brush-v23-latin-regular.woff2') format('woff2');
    }

    /* --- Bebas Neue --- */
    @font-face {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/bebas-neue-v16-latin-regular.woff2') format('woff2');
    }

    /* --- Caveat --- */
    @font-face {
        font-family: 'Caveat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/caveat-v23-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Caveat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/caveat-v23-latin-500.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Caveat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/caveat-v23-latin-600.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Caveat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/caveat-v23-latin-700.woff2') format('woff2');
    }

    /* --- Cinzel --- */
    @font-face {
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/cinzel-v26-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/cinzel-v26-latin-500.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/cinzel-v26-latin-600.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/cinzel-v26-latin-700.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url('/fonts/cinzel-v26-latin-800.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url('/fonts/cinzel-v26-latin-900.woff2') format('woff2');
    }

    /* --- Comfortaa --- */
    @font-face {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('/fonts/comfortaa-v47-latin-300.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/comfortaa-v47-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/comfortaa-v47-latin-500.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/comfortaa-v47-latin-600.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/comfortaa-v47-latin-700.woff2') format('woff2');
    }

    /* --- Dancing Script --- */
    @font-face {
        font-family: 'Dancing Script';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/dancing-script-v29-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Dancing Script';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/dancing-script-v29-latin-500.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Dancing Script';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/dancing-script-v29-latin-600.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Dancing Script';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/dancing-script-v29-latin-700.woff2') format('woff2');
    }

    /* --- Great Vibes --- */
    @font-face {
        font-family: 'Great Vibes';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/great-vibes-v21-latin-regular.woff2') format('woff2');
    }

    /* --- Lobster / Lobster Two --- */
    @font-face {
        font-family: 'Lobster';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/lobster-v32-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Lobster Two';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/lobster-two-v22-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Lobster Two';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/lobster-two-v22-latin-italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Lobster Two';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/lobster-two-v22-latin-700.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Lobster Two';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/lobster-two-v22-latin-700italic.woff2') format('woff2');
    }

    /* --- Marck Script --- */
    @font-face {
        font-family: 'Marck Script';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/marck-script-v22-latin-regular.woff2') format('woff2');
    }

    /* --- Montserrat --- */
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-100.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 100;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-100italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-200.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 200;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-200italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-300.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-300italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-500.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-500italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-600.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-600italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-700.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-700italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-800.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 800;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-800italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-900.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 900;
        font-display: swap;
        src: url('/fonts/montserrat-v31-latin-900italic.woff2') format('woff2');
    }

    /* --- Pacifico --- */
    @font-face {
        font-family: 'Pacifico';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/pacifico-v23-latin-regular.woff2') format('woff2');
    }

    /* --- Playfair Display --- */
    @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-500.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-500italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-600.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-600italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-700.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-700italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-800.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 800;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-800italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-900.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 900;
        font-display: swap;
        src: url('/fonts/playfair-display-v40-latin-900italic.woff2') format('woff2');
    }

    /* --- Righteous --- */
    @font-face {
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/righteous-v18-latin-regular.woff2') format('woff2');
    }

    /* --- Sacramento --- */
    @font-face {
        font-family: 'Sacramento';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/sacramento-v17-latin-regular.woff2') format('woff2');
    }

    /* --- Satisfy --- */
    @font-face {
        font-family: 'Satisfy';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/satisfy-v22-latin-regular.woff2') format('woff2');
    }
}

@layer utilities {

    /*Felix Machts CSS*/
    .hero-gradient {
        background: linear-gradient(135deg, #9B386F 0%, #7A2B56 100%);
    }

    .floating-animation {
        animation: float 3s ease-in-out infinite;
    }
    @keyframes float {
        0%, 100% { transform: translateY(0px); }
        50% { transform: translateY(-10px); }
    }

    .fade-in {
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.6s ease;
    }
    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .pulse-button {
        animation: pulse 2s infinite;
    }
    @keyframes pulse {
        0% { box-shadow: 0 0 0 0 rgba(155, 56, 111, 0.7); }
        70% { box-shadow: 0 0 0 10px rgba(155, 56, 111, 0); }
        100% { box-shadow: 0 0 0 0 rgba(155, 56, 111, 0); }
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
    }

    .fade-in {
        animation: fadeIn 1s ease forwards;
    }

}
